---
import BaseLayout from "@layouts/BaseLayout.astro"
import Prose from "@components/common/Prose.astro"

const { frontmatter } = Astro.props
const { title, description } = frontmatter.data
---

<BaseLayout title={title} description={description}>
  <Prose>
    <h1>{title}</h1>

    <form id="form" method="POST">
    <label>Name</label>
    <input type="text" name="name" placeholder="Name" required />
  
    <label>Email Address</label>
    <input type="email" name="email" inputmode="email" placeholder="Email Address" required />
  
    <label>Message</label>
    <textarea name="message" rows="4" placeholder="Message" required></textarea>
  
    <button type="submit">Submit</button>
    </form>

    <slot />
  </Prose>
</BaseLayout>