---
import BaseLayout from "@layouts/BaseLayout.astro"
import Prose from "@components/common/Prose.astro"

const { frontmatter } = Astro.props
const { title, description } = frontmatter.data
---

<BaseLayout title={title} description={description}>
  <Prose>
    <h1>{title}</h1>

    <form action="https://formsubmit.co/savannah@savannahaltabe.com" method="POST" />
    <input type="text" name="name" placeholder="Name" required />
  
    <input type="email" name="email" inputmode="email" placeholder="Email Address" required />
  
    <textarea name="message" rows="4" placeholder="Message" required></textarea>
  
    <input type="hidden" name="form_location" value="page-title-input">

    <button type="submit">Submit</button>
    </form>

    <slot />
  </Prose>
</BaseLayout>