---
import BaseLayout from "@layouts/BaseLayout.astro"
import Prose from "@components/common/Prose.astro"

const { frontmatter } = Astro.props
const { title, description } = frontmatter.data

---

<BaseLayout title={title} description={description}>
  <Prose>
    <h1>{title}</h1>

    <form class="comment-form contact-page" action="https://formsubmit.co/savannah@savannahaltabe.com" method="POST">
      <div class="comment-form-container">
        <input type="text" name="name" class="name" placeholder="Name" required autofocus/>
        <input type="email" name="email" inputmode="email" placeholder="Email Address" required />
        <textarea name="message" rows="4" placeholder="Message" required></textarea>
        <input type="hidden" name="form_location" value={title}>
        <button type="submit" class="border-border/50">Submit</button>
      </div>
    </form>

    <slot />
  </Prose>
</BaseLayout>