---
import BaseLayout from "@layouts/BaseLayout.astro"
import Prose from "@components/common/Prose.astro"

const { frontmatter } = Astro.props
const { title, description } = frontmatter.data
---

<BaseLayout title={title} description={description}>
  <Prose>
    <h1>{title}</h1>

    <form
      action="https://buttondown.com/api/emails/embed-subscribe/savannahaltabe"
      method="post"
      class="embeddable-buttondown-form comment-form contact-page"
    >
    <input type="email" name="email" id="bd-email" placeholder="Email Address"/>
    <button type="submit" class="subscribe-button">Subscribe</button>
    <p>
    <a href="https://buttondown.com/refer/savannahaltabe" target="_blank">
      Powered by Buttondown.
    </a>
    </p>
    </form>

    <slot />
  </Prose>
</BaseLayout>