<form
  action="https://buttondown.com/api/emails/embed-subscribe/savannahaltabe"
  method="post"
  class="embeddable-buttondown-form"
>
  <label for="bd-email">Enter your email</label>
  <input type="email" name="email" id="bd-email" />
  <input type="submit" value="Subscribe" />
  <p>
    <a href="https://buttondown.com/refer/savannahaltabe" target="_blank">
      Powered by Buttondown.
    </a>
  </p>
</form>